services:
  tor:
    image: dockage/tor-privoxy:latest
    restart: always
    ports:
      - "9050:9050"
    networks:
      - autolycus_network

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
    restart: always
    # ports:
    #   - "8191:8191"
    networks:
      - autolycus_network

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - AUTO_UPDATE=true
    volumes:
      - ./volumes/jackett/config:/config
    restart: always
    ports:
      - "9117:9117"
    networks:
      - autolycus_network

networks:
  autolycus_network:
    name: autolycus_network
